<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h1> Welcome to page Home</h1>

<h1>Register:</h1>
<form action="{% url 'home:home' %}" class="form-multiline" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send">
</form>
</body>
</html>